In [1]:
import pandas as pd
from news_polarity.news_api import call_bigkinds_news, api_call

In [2]:
result = call_bigkinds_news(
    start='2023-09-04',
    end='2023-09-07'
)

[BigkindsNews] '' from 2023-09-04 to 2023-09-07. (-1)
[BigkindsNews] 10000 / 32667
[BigkindsNews] 20000 / 32671
[BigkindsNews] 30000 / 32673
[BigkindsNews] 40000 / 32676

In [3]:
df = pd.DataFrame(result)

In [4]:
df[df.news_id == '02100311.20230904173226001']

,news_id,title,content,published_at,enveloped_at,dateline,provider,category,category_incident,publisher_code,provider_link_page
23358,02100311.20230904173226001,"정부 ""오염수 방류 직후 마트 수산물 매출 68% 증가""",일본 후쿠시마 원전 오염수 방류 직후 국내 대형마트의 수산물 매출이 1년 전보다 증...,2023-09-04T00:00:00.000+09:00,2023-09-04T17:32:26.000+09:00,2023-09-04T22:11:56.000+09:00,서울경제,[경제>유통],[],,http://www.sedaily.com/NewsView/29UJY07KH9
33361,02100311.20230904173226001,"정부 ""오염수 방류 직후 마트 수산물 매출 68% 증가""",일본 후쿠시마 원전 오염수 방류 직후 국내 대형마트의 수산물 매출이 1년 전보다 증...,2023-09-04T00:00:00.000+09:00,2023-09-04T17:32:26.000+09:00,2023-09-04T22:11:56.000+09:00,서울경제,[경제>유통],[],,http://www.sedaily.com/NewsView/29UJY07KH9